.list{
	color: white;
	background-color: blue;
	padding: 12px;
	margin-top: 12px;
	margin-left: 35px;
}
.list li{
background-color: fuchsia;
    padding: 8px;
    margin-left: 12px;
    margin-top: 13px;

}
.customer, th, td{
	border: 2px solid black;
}
.customer{
	border-collapse: collapse;
	width: 100%;
}
.customer th{
	height: 50px;
	text-align: center;
	background-color: #DDD;
}
tr:hover{
	background-color: orangered;
}
tr:nth-child(even){
	background-color:  blueviolet;
}
.jpg,
.png{
	
	width: 200px;
	opacity: 0.5;
	transition: 0.2s;
}
.jpg:hover,.png:hover{
	opacity: 1;
	transition: 1s;
}
.OverFlow{
	Color: #000;
	width: 50%;
	height: 100px;
	overflow: scroll;
	background-color:#6133ff5c;
	border: 2px solid black;
}